# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [31]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [2]:
cars1=pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv')
cars2=pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv')

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [8]:
cars1=cars1.iloc[:,0:9]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           198 non-null    float64
 1   cylinders     198 non-null    int64
 2   displacement  198 non-null    int64
 3   horsepower    198 non-null    object
 4   weight        198 non-null    int64
 5   acceleration  198 non-null    float64
 6   model         198 non-null    int64
 7   origin        198 non-null    int64
 8   car           198 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 14.0+ KB

### Step 5. What is the number of observations in each dataset?

In [11]:
print(f'cars1 observation:{cars1.shape[0]}, cars2 observation:{cars2.shape[0]}')

cars1 observation:198, cars2 observation:200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [20]:
cars=cars1.append(cars2)
cars

C:\Users\Maria\AppData\Local\Temp\ipykernel_2804\3458682206.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cars=cars1.append(cars2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [32]:
nr_owners=np.random.randint(15000, high=73001, size=398, dtype='l')
nr_owners

array([61006, 28126, 21805, 48573, 31976, 55987, 33359, 36097, 25695,
       56371, 28255, 36211, 67306, 62674, 25587, 43753, 26305, 25714,
       41849, 61306, 61131, 39592, 34790, 21858, 70204, 67948, 22740,
       45977, 67305, 18842, 39950, 67738, 39141, 36048, 51722, 49511,
       43105, 31387, 62331, 33834, 29195, 61165, 40947, 35087, 34496,
       70328, 70459, 33668, 47542, 54351, 16694, 34605, 57197, 49952,
       58828, 52562, 69888, 61500, 19379, 26459, 42117, 56081, 61269,
       69998, 60272, 55668, 29786, 28970, 46120, 30785, 55387, 68730,
       48334, 69105, 41727, 64726, 21805, 67448, 56491, 30337, 26966,
       69123, 33591, 61081, 63505, 60510, 40822, 36001, 35453, 38555,
       24119, 18343, 27078, 60597, 64252, 46752, 29045, 63992, 49774,
       20777, 43346, 56450, 53886, 53159, 71849, 26936, 64743, 45768,
       68136, 38507, 51726, 51448, 22296, 25031, 52428, 34315, 58973,
       33097, 15370, 68702, 29262, 63212, 24847, 68547, 39162, 22470,
       42500, 54314, 49828, 56296, 63742, 48566, 21045, 18770, 19792,
       48948, 27962, 22174, 47209, 56846, 58950, 29267, 48038, 42559,
       26574, 68934, 55326, 16171, 38200, 52040, 66938, 45561, 59250,
       72710, 67288, 35226, 66787, 51781, 31717, 44020, 66709, 34736,
       39219, 57318, 24344, 28932, 65986, 29607, 65620, 34456, 22008,
       61879, 53047, 67363, 31452, 15424, 28814, 64317, 72103, 30747,
       39709, 67914, 32743, 44923, 39058, 47937, 39816, 44945, 52502,
       63757, 59722, 23974, 53071, 59037, 46724, 47066, 53731, 22958,
       39674, 64556, 37657, 64150, 19642, 27438, 37221, 72119, 19657,
       23433, 61134, 26330, 31286, 72474, 23103, 15923, 52876, 55489,
       63057, 40492, 15849, 20947, 28930, 17961, 22464, 21276, 45704,
       22063, 27982, 58367, 40668, 37657, 53106, 44423, 45750, 43343,
       44525, 71346, 16819, 72949, 23744, 16408, 30123, 40497, 31314,
       72831, 69201, 65181, 27632, 56951, 41020, 37777, 43510, 17033,
       65911, 70144, 25983, 72295, 20316, 19792, 16597, 69082, 20974,
       62670, 46232, 47270, 23061, 58062, 44690, 63284, 59750, 43439,
       67522, 48618, 63367, 68684, 69945, 25355, 18174, 58816, 16699,
       54801, 21012, 44449, 30901, 19383, 37134, 31196, 20813, 42788,
       72831, 46257, 36079, 22475, 29900, 59225, 16076, 40022, 29684,
       23576, 30600, 29250, 40478, 25009, 63491, 17374, 56130, 51897,
       60170, 58617, 42331, 71393, 72182, 31588, 49111, 34295, 63343,
       64863, 55211, 53507, 70139, 50782, 64841, 26540, 62593, 38611,
       30203, 18212, 40727, 19837, 32571, 22816, 23293, 41118, 51585,
       15061, 17282, 57061, 65955, 60152, 43793, 15627, 72768, 45031,
       22005, 58512, 72700, 68010, 15262, 15688, 66240, 56777, 24367,
       29839, 54757, 40122, 26085, 28263, 17913, 72891, 48400, 48177,
       71706, 35217, 68348, 28328, 46422, 69995, 41542, 68442, 30460,
       28958, 36697, 30667, 60293, 47465, 67478, 71349, 20338, 57607,
       53536, 15176, 41989, 63040, 48760, 26676, 62460, 59246, 47448,
       29159, 60054, 55481, 62027, 45052, 36647, 38868, 58647, 44778,
       29176, 29591])

### Step 8. Add the column owners to cars

In [33]:
cars['owners']=nr_owners
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,61006
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,28126
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,21805
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,48573
4,17.0,8,302,140,3449,10.5,70,1,ford torino,31976